[2016-04-20 02:11] tclindner opened #1 "Create contributing.md file"

[2016-04-20 02:14] tclindner opened #2 "Create changelog.md file"

[2016-04-21 02:04] #1 closed

[2016-04-22 02:25] tclindner opened #4 "Remove README column from commands section"
This column is empty and isn't needed.

[2016-04-22 02:26] tclindner opened #5 "Fix alias in commands section of README"
Aliases should only have one "-" rather than two "-"

[2016-04-22 02:33] tclindner opened #6 "Link to other projects in md files"
Ex. Nodejs, npm, grunt cli, etc.

[2016-05-01 20:00] #5 closed

[2016-05-01 20:00] #6 closed

[2016-05-01 20:01] #4 closed

[2016-05-01 20:24] #2 closed

[2016-10-07 18:37] joefiorini opened #19 "Allow specifying values for private"
We have a monorepo for our engineering team. We have a setup inspired by `babel`, `react` and others, where lots of npm packages live in a single repo. For all of those, we need to ensure that `private` is always set to true in the `package.json`. Is this something this tool could do?

[2016-10-07 22:49] tclindner commented on #19
Yeah! Do you think the following will meet your needs? If so, I'll create a new release this weekend.

Create a new rule name: prefer-private-as-true

Enabling this rule will result in an error being generated if `private` is missing or is set to false.

## Example .npmpackagejsonlintrc configuration

[code]

## Rule Details

### *Incorrect* example(s)

[code]

[code]

### *Correct* example(s)

[c

[2016-10-08 00:13] tclindner commented on #19
@joefiorini npm-package-json-lint currently has a rule, valid-values-private, that isn't as specific as the proposed rule above, but it scales for users that prefer false. Would you be okay using it instead of creating a new rule? Here is a link to the rule documentation - https://github.com/tclindner/npm-package-json-lint/wiki/valid-values-private. Let me know what you think. Thanks!

[2016-10-12 14:55] joefiorini commented on #19
@tclindner I'm so sorry, what I actually meant to say here was allowed values for the `license` property. That way we can ensure that packages are `private` and `unlicensed` (which is the npm recommendation for private packages).

[2016-10-13 02:04] tclindner commented on #19
@joefiorini sorry for misunderstanding! Your idea is great! That sounds like a perfect enhancement for this project. Do you think the following rule will meet your needs?

Create a new rule named: `valid-values-license`

Enabling this rule will result in an error being generated if license is not equal to one of the values in the array of valid values.

## Example .npmpackagejsonlintrc configurati

[2016-10-14 15:52] joefiorini commented on #19
@tclindner that looks perfect! thanks for the quick reply!

[2016-10-14 22:05] tclindner commented on #19
No problem, @joefiorini. I'll get a new release cut this weekend. Thank you!

[2016-10-15 15:51] #19 closed

[2016-10-15 16:01] tclindner commented on #19
@joefiorini v1.4.0 has been released! Please let me if it doesn't work for you. I would love to add any additional features you and your team are interested in.

[2016-10-19 16:52] joefiorini commented on #19
@tclindner Thanks a lot!

[2017-04-06 17:11] evilebottnawi opened #25 "Exit with non zero code if error found"
I can do PR if your accept.

[2017-04-07 00:55] tclindner commented on #25
Hi @evilebottnawi! Thanks for posting the issue and offering to post a PR. Your suggestion makes sense. I'll accept the PR if you have time. No worries if you don't. I can get it updated this weekend.

[2017-04-09 15:10] #25 closed

[2017-04-09 15:16] tclindner commented on #25
Hi @evilebottnawi let me know if v2.1.0 meets your expectations. Let me know if there are any other changes or enhancements that you would like! Thanks again for logging the issue.

[2017-04-10 08:33] evilebottnawi commented on #25
@tclindner works good, but if i have warning i got non zero error code, but warning it is not error and should be non zero exit code.

[2017-04-10 08:35] evilebottnawi opened #27 "Some rules not respected configuration"
I have config for some rules:
[code]
But I still get a output about a warning:
[code]

[2017-04-11 00:32] tclindner commented on #25
Good call. I'll get a fix pushed out that ensures the exit code is 0 if only warning are detected.

[2017-04-11 00:37] tclindner commented on #25
v2.1.1 has been published.

[2017-04-11 01:41] tclindner commented on #27
Hey @evilebottnawi! Thank you again for logging a ticket. You found a good one 👍 valid-value-* rules are part of array style rules (ex: below).

[code]

When I was adding the ability to turn rules off I only accounted for updating the severity in the array form (see following example).
[code]

Your example configuration above is an excellent improvement that makes turning this type of rule off muc

[2017-04-11 01:50] #27 closed

[2017-04-11 01:53] tclindner commented on #27
v2.1.2 has been released. I've updated the documentation to ensure others know how to use the new method of disabling the rules. Ex: https://github.com/tclindner/npm-package-json-lint/wiki/valid-values-author

Let me know if you have suggestions. Thanks again!

[2017-04-11 06:44] evilebottnawi commented on #27
@tclindner Thanks!

[2017-04-11 07:02] evilebottnawi opened #30 "Quiet option for cli"
I have CI and will be awesome to avoid output in console using `quite` option. BTW, standard behavior many linters not output nothing if this not contain error. warning, deprecated and etc.

[2017-04-12 02:45] tclindner commented on #30
Thank you for the suggestion! I should have time to implement this tomorrow and cut a new release. I appreciate all of the great input!

[2017-04-12 13:14] evilebottnawi opened #31 "Reduce package size"
Package contains unnecessary directories and files - `grunt`, `tests`, `.jscsrc` and maybe others. I can do PR if your accept this issue.

[2017-04-13 02:14] #30 closed

[2017-04-13 02:18] tclindner commented on #31
Yeah, I definitely will accept this change! Are you thinking about adding the files and directories to the `.npmignore` file?

[2017-04-13 09:01] evilebottnawi commented on #31
@tclindner I personally use `files`, if you forget to add a file just release the patch version, because it's hard to get around all the files through `.npmignore`

[2017-04-13 12:48] tclindner commented on #31
That sounds great to me! Thank you for helping improve this tool 🥇

[2017-04-19 13:21] evilebottnawi opened #33 "Rule idea - alphabet sorting for dependencies, devDependencies and etc"

[2017-04-20 02:26] tclindner commented on #33
Great suggestion, @evilebottnawi! I'll start working on the rules tomorrow.

[2017-04-22 14:51] #31 closed

[2017-04-22 15:36] tclindner commented on #31
Let me know what you think about v2.3.0, @evilebottnawi! grunt, tests, and other dot files should no longer be in the package.

[2017-04-22 15:37] tclindner commented on #33
Hey @evilebottnawi!

Here are the links to the new rules. Let me know if they meet your expectations.

- [prefer-alphabetical-dependencies](https://github.com/tclindner/npm-package-json-lint/wiki/prefer-alphabetical-dependencies)
- [prefer-alphabetical-devDependencies](https://github.com/tclindner/npm-package-json-lint/wiki/prefer-alphabetical-devDependencies)
- [prefer-alphabetical-bundledDepende

[2017-04-22 16:34] evilebottnawi commented on #33
@tclindner thanks, starting integrate :smile:

[2017-04-22 16:39] evilebottnawi commented on #31
@tclindner all fine :+1:

[2017-04-22 17:08] evilebottnawi commented on #33
@tclindner Everything works almost perfectly, but:
Be good to improve UX error.
Now we have
[code]
But if i have a lot of deps it is rather difficult to determine what is incorrectly sorted. Maybe:
[code]
Or something in kind style :smile:

Also your can see https://github.com/yarnpkg/yarn/blob/master/src/util/normalize-manifest/fix.js what `yarn` fix in `package.json` automatically and get inspir

[2017-04-22 17:10] evilebottnawi commented on #33
I can add that I do not quite agree with the work of yarn when it automatically corrects errors, because in fact I myself must manage the process as I want to see my package.json

[2017-04-25 12:31] tclindner commented on #33
@evilebottnawi great suggestion! I'll reopen this and push an improvement soon.

[2017-05-23 03:57] #33 closed

[2017-05-23 03:58] tclindner commented on #33
I plan on releasing the UX improvement tomorrow with v2.4.0. Thank you @evilebottnawi. Let me know if you have any other suggestions!

[2017-06-06 13:16] evilebottnawi opened #40 "Rule for validation `package.json` agains schema."

[2017-06-09 00:19] tclindner commented on #40
Hi @evilebottnawi can you provide a bit more detail around this request? I apologize, but I want to ensure I get you what you are looking for. Thank you!!

[2017-06-09 10:20] evilebottnawi commented on #40
@tclindner Seems like this https://gist.github.com/evilebottnawi/ef2a8a89be52c8578d92af2007dc5076, maybe it is not rule, build-in linter before run rules.

[2017-06-11 18:15] tclindner commented on #40
Thanks @evilebottnawi. I see what you mean now. How do you see consumers using the schema? The schema file is pretty large and users could easily misconfigure it.

[2017-06-11 18:16] tclindner commented on #40
Removing this from 2.5.0 since it will not be ready for release today.

[2017-06-12 13:03] evilebottnawi commented on #40
@tclindner it is be just idea :+1:

[2017-06-14 12:43] thethomaseffect opened #42 "Include git dependencies in version linting"
With Github and Gitlab (there might be more) you can depend on a git URL in package.json like so:

[code]
However, the version is optional and at my org I want to ensure that a version is included like so for commit id:

[code]

or string for a tag or branch name
[code]

I think just ensuring that .git isn't at the end of the value could be enough but I haven't done much testing. .`.+\.git#.+` cou

[2017-06-17 12:47] tclindner commented on #42
Hi @thethomaseffect I think this is a great suggestion! I have a couple of questions for you.

1. On your projects do you require that all dependencies utilize git references?
2. Do you ever use GitHub URL formats for dependencies over standard Git URLs? Ex: "myModule": "user/repo#feature\/branch"

I think we could add a few new rules.

* Note: Each one of these would include an equivalent for all

[2017-07-07 15:32] evilebottnawi opened #43 "Use https://github.com/davidtheclark/cosmiconfig for configuration files"
It is allow many formats for configuration files :+1:

[2017-07-10 01:55] tclindner commented on #43
Very cool! @evilebottnawi do you have any formats that you want implemented more than another?

[2017-07-10 01:55] tclindner commented on #42
Hey @thethomaseffect have you had a chance to review my comment above?

[2017-07-17 15:06] evilebottnawi commented on #43
@tclindner no :smile: These formats is enough in 99.99% case

[2017-08-09 02:46] tclindner commented on #42
Hey @thethomaseffect what do you think about the comment above?

[2017-08-09 02:51] tclindner commented on #43
Hey @evilebottnawi I've been trying to keep the number of dependencies down. I was able to add support for a property in the package.json file, a JavaScript export (npmpackagejsonlint.config.js), and optional extension support for the rc file without a ton of code. The cli will also automatically look for `.npmpackagejsonlintrc` and `npmpackagejsonlint.config.js` in the current working directory i

[2017-08-09 02:57] tclindner commented on #40
Hi @evilebottnawi I think I'm going to hold on this ask for now. Specifying a schema is more difficult to ask a user to do. Are you comfortable with that?

I would like your opinion on a couple of alternative features. I was thinking about adding an `--init` option to the CLI. Hopefully this will make it easier to get started. I've also been considering a UI that can be used to generate a config o

[2017-08-09 09:07] thethomaseffect commented on #42
Hi @tclindner , apologies for lack of response, for some reason I was notified about all 3 comments at the same time this morning!

1) Nope, there's still regular NPM ones
2) Not at the moment, I'd need to test if Gitlab supports that as well

I think your suggestion sounds good, as long as an explicit version in the path is required I think it would satisfy my requirements.

[2017-08-09 09:49] evilebottnawi commented on #40
@tclindner sound good :+1:

[2017-08-09 09:52] evilebottnawi commented on #43
@tclindner I think support `.npmpackagejsonlintrc` and `npmpackagejsonlint.config.js` is enough, thanks! YAML is rarely used for configuration, so your can think about it when your take request to support it.

[2017-08-10 01:37] tclindner commented on #43
Perfect! Thank you

[2017-08-10 01:37] #43 closed

[2017-08-10 01:41] tclindner commented on #42
No problem at all!! I'll start thinking about the new rules 👍

[2017-08-10 02:12] tclindner opened #46 "Add an --init option to the cli"
Background #40

Add a new option to the cli that guides users through the process of create a configuration object for npm-package-json-lint.

[2017-08-10 02:12] tclindner commented on #40
Thank you!

[2017-08-10 02:12] #40 closed

[2017-08-15 20:37] moshest opened #47 "Support for eslint-plugin?"
I think this module could be use as a eslint-plugin.

Please see [eslint-plugin-json](https://www.npmjs.com/package/eslint-plugin-json) for reference (this plugin linting json files).

[2017-08-15 21:10] moshest opened #48 "`valid-values-license` not working"
npm-package-json-lint version: 2.7.0
npm version: 5.3.0
node version: 8.1.4

The output from npm-package-json-lint:
[code]

What you expected to happen: Linting the license value.
The steps to reproduce the problem:
[code]

[2017-08-16 01:57] tclindner commented on #48
Thank you for finding and reporting this bug, @moshest!! 👍

[2017-08-16 01:59] #48 closed

[2017-08-16 02:20] tclindner commented on #47
Hey @moshest - thank you for logging this request! Are you thinking that npm-package-json-lint would run as part of a user's ESLint check? What do you see as the biggest advantage of this feature?

[2017-08-16 07:48] moshest commented on #47
Please check the tool [Lerna](https://github.com/lerna/lerna). It's a library that helps users write multi-module projects like [Babel](https://github.com/babel/babel), [React.js](https://github.com/facebook/react) and more..

Adding ESLinting support for those project could be very convenient.

[2017-08-16 17:08] moshest opened #50 "Support for entires order?"
I wonder if there is support for entries ordering such as: First `name` then `description` etc..

I would like it to have default ordering and if I want I can reorder it by given an array of entries.

[2017-08-17 00:03] tclindner commented on #47
Hi @moshest sorry if I'm slow, but I would like to make sure I understand what you would like. 🤓

You would like:

1. support for projects that use Lerna to generate multiple packages?
2. support for running npm-package-json-lint via ESLint

Thank you for the interest in the project!

[2017-08-17 00:05] tclindner commented on #50
Hey @moshest that isn't currently an option, but I think it is a great idea. I'll mark this issue as an enhancement and work on it as soon as I can!

[2017-08-17 02:11] #50 closed

[2017-08-17 02:15] tclindner commented on #50
Hey @moshest thank you for the suggestion. v2.8.0 has been released with a new rule named `prefer-property-order`. Here is a [link to the documentation](https://github.com/tclindner/npm-package-json-lint/wiki/prefer-property-order). Let me know what you think.

[2017-08-17 07:21] moshest commented on #47
I'm just saying that create this library as eslint plugin could be very helpful for projects with multiple packages.

There is no need for custom support for Lerna projects. The plugin can do it automatically by es-linting every `package.json` file just like the plugin [eslint-plugin-json](https://www.npmjs.com/package/eslint-plugin-json) linting every `*.json` file.

[2017-08-17 07:33] moshest commented on #50
Great!

I think that providing a default order for this role can help many users:

[code]

(Copied from [sort-package-json](https://www.npmjs.com/package/sort-package-json) module)

 We also need to check that entries that missing from the `package.json` file but exists on the `order` list would not reject as an error.

For example:

[code]

Valid `package.json`:
[code]

Invalid `package.json`:
[c

[2017-08-18 09:49] moshest opened #52 "Support for "require-module"?"
The [`module` property](https://github.com/dherman/defense-of-dot-js/blob/master/proposal.md)  is like the `main` property but for ES6 Import-Export modules.

[2017-08-21 15:12] evilebottnawi opened #53 "TypeError: Cannot read property 'length' of undefined"
* A little info about your environment
    * npm-package-json-lint version `2.8.0`
    * npm version `5.3.0`
    * node version `8.4.0`
  * The output from npm-package-json-lint
[code]
  * What you expected to happen
Not throw error.
  * The steps to reproduce the problem
1. Create `npmpackagejsonlint.config.js` with `prefer-property-order` rule.
[code]
2. Create `package.json`.
[code]

[2017-08-22 02:36] tclindner commented on #52
Hey @moshest is this officially supported? I don't see it in [npm's package.json documentation](https://docs.npmjs.com/files/package.json).

[2017-08-22 02:43] #53 closed

[2017-08-22 02:44] tclindner commented on #50
Hi @moshest I've made these adjustments in v2.8.1. I updated [the documentation](https://github.com/tclindner/npm-package-json-lint/wiki/prefer-property-order) too. Let me know what you think.

[2017-08-22 02:44] tclindner commented on #53
Thank you for catching this, @evilebottnawi! I've release v2.8.1. It should address your issue. It also contains feedback from #50. Let me know what you think.

[2017-08-22 07:22] moshest commented on #52
Module is been used by Rollup bundler.

You can see here: https://stackoverflow.com/a/42817320/518153
and here: https://medium.com/webpack/webpack-and-rollup-the-same-but-different-a41ad427058c

[2017-08-22 07:24] moshest commented on #50
Great! 🎉

[2017-08-23 11:36] evilebottnawi commented on #53
@tclindner problem still exists :disappointed: use post above to reproducible error.
In `function(packageJsonData, lintType, preferredOrder)` `preferredOrder` contains `undefined`, but `lintType` containts
[code]

[2017-08-24 02:22] tclindner commented on #53
I'm so sorry about that @evilebottnawi! I believe I have identified the issue. The rules loader was not properly interpreting this rule as a "array" type rule. I've released v2.8.2 to address that. Can you please try it out and see if it resolves your issue? Sorry again about the issues with this rule.

P.S. I will be logging an enhancement to improve the rules loader to avoid hitting this issue i

[2017-08-24 02:23] tclindner opened #56 "Improve rule loader support for array type rules"
npm-package-json-lint has two types of rules. The first type allows users to set their severity level (i.e. off, warning, and error). The second type allows users to pass an array of values with the severity level.  Currently, the rules loader is not coded in a way that scales for varying types of array based rules. The goal of this issue is to improve that process and prevent future issues like #

[2017-08-24 02:24] tclindner commented on #52
Thank you for the information, @moshest! Marking this as an enhancement.

[2017-08-25 15:22] moshest opened #57 "Missing properties on `prefer-property-order` has unexpected behavour"
My package.json has the property `nyc` which is not included on the default order list at:

[code]

This rule is failing with the following error:
[code]

I think that `prefer-property-order` should ignore properties that are not in the preferred property list.

[2017-08-25 15:30] moshest opened #58 "Misleading instructions at role `prefer-property-order`"
My package.json look like this:

[code]

With the default ordering `bugs` should be after `version` but the message I get is:
[code]

If I will put `bugs` before `repository` I will get:
[code]

I think that better instructions will be (notice the quotes I added also):

[code]

My version is: 2.8.2

[2017-08-29 02:26] tclindner commented on #57
Hey @moshest what is the purpose of the rule if we ignore properties that aren’t in the list? We are already allowing properties in the list to be missing from the package.json file.

[2017-08-29 02:30] tclindner commented on #58
Hi @moshest this is a bit tricky. We don’t require all properties in the list to be in the package.json file. Do you have any recommendations on how to approach this problem? I plan on looking at it more this week.

[2017-08-29 08:05] moshest commented on #57
Just ordering. Like the role `prefer-alphabetical-dependencies` which only check the order of the dependencies and not that in it.

The user should use other role to require properties.

[2017-08-29 08:26] moshest commented on #58
Yes, I that should do it:

[code]

To solve #57, We should filter `propertiesOrder` first:

[code]

[2017-08-30 00:24] tclindner commented on #58
Thanks for the feedback, @moshest!

[2017-08-30 00:25] tclindner commented on #57
Gotcha. I see what you are thinking now. Thanks for talking that through, @moshest!

[2017-08-30 03:22] #56 closed

[2017-08-30 03:27] tclindner commented on #56
v2.9.0 has been released with the new rules loader logic. All existing rules should run the same as they did in v2.8.2. @evilebottnawi and @moshest let me know if you see any issues.

[2017-09-02 16:54] #57 closed

[2017-09-02 16:57] tclindner commented on #57
Hi @moshest v2.10.0 has been released! Let me know if it meets your needs. Thank you for suggesting the great improvements.

[2017-09-02 16:57] tclindner commented on #58
Hi @moshest v2.10.0 has been released! Thank you again.

[2017-09-02 16:57] #58 closed

[2017-09-02 18:58] #52 closed

[2017-09-02 19:06] tclindner commented on #52
Hey @moshest - v2.11.0 has been released with this [rule](https://github.com/tclindner/npm-package-json-lint/wiki/require-module)! We can keep an eye on the proposal and adjust the rule, if needed!

[2017-09-02 21:46] moshest commented on #58
It's works great!
A added a PR with a small fix the the error message (already tested on my packages).

[2017-09-02 21:47] moshest commented on #52
Great!

[2017-09-02 21:47] moshest commented on #57
Works great!

[2017-09-02 22:53] tclindner commented on #58
Awesome! 🥇

[2017-11-13 03:26] mcandre opened #63 "More helpful default configuration"
Ay, npm-package-json-lint should really report type screwups in package.json for any of the keys.

The `engine` presence check should also be enabled by default. It sucks when a Node.js project fails to document which version of Node.js is required to run it.

If `name` is missing, things are likely to break with npm. That should be on by default. Same goes for `version`.

[2017-11-16 04:06] tclindner commented on #63
Hey @mcandre! Thank you for the feedback. I would love to improve the project so it meets your needs.  Do you currently use [npm-package-json-lint-config-default](https://github.com/tclindner/npm-package-json-lint-config-default) as your base/default configuration module to extend from?

[2017-12-17 03:10] hassankhan opened #64 "Can't use an object as `author`with `valid-values-author`"
When reporting a bug, please include:

  * A little info about your environment
    * npm-package-json-lint version: 2.11.0
    * yarn version: 1.3.2
    * node version: 6.10.0
  * The output from npm-package-json-lint
[code]
  * What you expected to happen
No errors
  * The steps to reproduce the problem
Use a package.json with author like the following:
[code]

[2017-12-21 01:10] tclindner commented on #64
Hey @hassankhan - Nice find! Thank you for reporting the issue. I'll target getting an update pushed out next week.

[2017-12-28 02:39] #64 closed

[2017-12-28 03:00] tclindner commented on #64
Hi @hassankhan v2.11.1 has been released and the documentation has been updated. Let me know how this works for you.

[2017-12-28 03:00] tclindner commented on #63
Hey @mcandre - Do you currently use [npm-package-json-lint-config-default](https://github.com/tclindner/npm-package-json-lint-config-default) as your base/default configuration module to extend from?

[2018-01-20 17:11] RefinedSoftwareLLC opened #69 "name-scope-format & name-folder-format"
Please add name-scope-format
Example: `@scope/name`
1) Forces `@scope/` to be before name
2) Forces scope and name to be lowercase

Please add name-folder-format

1) Require name to be the name of the folder that package.json is in
2) Require folder and name to be lowercase
3) Be compatible with name-scope-format (see above)

[2018-01-22 01:53] tclindner commented on #69
Hi @RefinedSoftwareLLC - thank you for using this project! Thank you for suggesting new rules. I have a few questions about your request.

`name-scope-format`

1. Would you be okay using `name-format` to validate that name is lowercase? Then both rules won't overlap in scope.
2. Are you okay with this rule validating that any scope is present? An alternative option would be to create a rule called

[2018-01-25 18:36] bentruyman opened #70 "Add `--fix` flag"
It would be nice if there were a `--fix` flag, similar to tools like `eslint`, which handles fixable errors in a project's `package.json`. From what I can see, the rules that could be fixable include: `prefer-property-order` and the `prefer-alphabetical-*` rules.

`prefer-property-order` is particularly annoying as it typically involves running `pjl-cli` over and over again until the desired order

[2018-01-27 14:54] tclindner commented on #70
Hey @bentruyman - thank you for using the project! This is a great suggestion! I like your recommendation to start with those two rules.

[2018-01-27 14:55] tclindner commented on #69
Hi @RefinedSoftwareLLC let me know what you think about the questions above.

[2018-02-14 13:11] akihyro opened #71 "bundledDependencies-type: should be an Array"
"bundledDependencies" should be an **Array**.
But it is treated as an **Object**.

Quoted from the wiki page of "bundledDependencies-type":

Quoted from the document page of package.json:

- - -

### My environment

* npm-package-json-lint version: 2.11.1
* npm version: 5.6.0
* node version: 8.9.4

### The output from npm-package-json-lint

**package.json**

[code]

**.npmpackagejsonlintrc**

[cod

[2018-02-18 23:09] tclindner commented on #71
Thank you @akihyro for catching this bug! I'll get a new version released today.

[2018-02-18 23:14] #71 closed

[2018-02-18 23:18] tclindner commented on #63
Hey @mcandre I'm going to close this ticket. Let me know if [npm-package-json-lint-config-default](https://github.com/tclindner/npm-package-json-lint-config-default) doesn't meet your needs. I'd be happy to work with you to find a better solution.

[2018-02-18 23:18] #63 closed

[2018-02-18 23:48] tclindner commented on #71
Hi @akihyro v2.11.2 has been published. I've updated the docs too. Let me know if it doesn't meet your needs.

[2018-02-18 23:50] tclindner commented on #69
Hi @RefinedSoftwareLLC let me know what you think about the questions above.

[2018-02-19 00:14] akihyro commented on #71
It worked. Thank you 👍

[2018-03-02 13:00] dnepro opened #74 "Improvement: possibility to use glob"
Hello everybody :)
first of thanks for your work, i just found it and its awesome!

I want to ask if there is a possibility to add a glob pattern option, because i got a [lerna](https://github.com/lerna/lerna)-monorepo, like [babel](https://github.com/babel/babel) does.

Or for the beginning maybe the possibility to add multiple "-f {path}"-arguments to a single command.

But of course globbing wo

[2018-03-02 13:03] dnepro opened #75 "improvement: recursive config file detection"
Hello everybody :)

It would also be really cool if the config file would be detected recursively upwards the file system, like for the `.eslintrc` and `.npmrc` files.

[2018-03-04 22:32] tclindner commented on #74
Hi @dnepro, thank you for using the project! I really like your suggestion 👍 I'll try to get to this soon.

[2018-03-04 22:32] tclindner commented on #75
Hi @dnepro, thank you again for using the project! I'll try to get to this soon.

[2018-04-13 11:46] minijus opened #76 "Improvement: running lint programatically"
Hello,

thanks for the linter!
It would be awesome to have a Node.js API to use linter programmatically. The part in cli.js could be abstracted and exported for programmatic usage similarly as ESLint does with its [CLIEngine](https://eslint.org/docs/developer-guide/nodejs-api#cliengine)

[2018-04-16 01:35] ntwb commented on #76
This would also help facilitate adding a Jest _[runner](https://facebook.github.io/jest/docs/en/configuration.html#runner-string)_ with [create-jest-runner](https://www.npmjs.com/package/create-jest-runner)

[2018-04-24 07:02] reggi opened #77 "Feat: "script-type""
Right now this validates valid cases where the individual script is not a string.

[2018-04-25 04:25] reggi commented on #77
@tclindner That would be amazing!

[2018-04-29 11:06] ntwb commented on #75
When I saw https://github.com/tclindner/npm-package-json-lint/wiki/configuration I thought this package would have been using https://www.npmjs.com/package/cosmiconfig for that, turns out it's not, I'd say it's worth checking out though as it supports traversing recursively up folders to find a valid config

[2018-04-29 11:12] ntwb commented on #74
I've just started creating a `npm-package-json-lint-config` myself and arrived here as I was trying to find how I'd support the ~20 packages in my Lerna repo myself.

Looks like writing ~21 `npm run pjl-cli <glob>` commands in the root `package.json` is the only available option which for obvious reasons is not ideal.

I'll look forward to being able _not_ do that 😃

[2018-04-29 11:30] ntwb commented on #74
As an interim workaround, a single script leveraging the Lerna `exec` command:

The above uses a `.npmpackagejsonlintrc` in the root of the Lerna repo extends the `npm-package-json-lint-config-default` config with a handful of rule tweaks

[2018-04-29 23:14] tclindner commented on #75
Hi @dnepro and @ntwb - a pre-release of v3.0.0 has been published to npm. The documentation is still a little sparse (that will change by the stable release). You can try it out by installing `npm-package-json-lint@beta`. Here is a link to the start of the [migration guide](https://github.com/tclindner/npm-package-json-lint/wiki/migrating-from-v2-to-v3).

Configuration now does the following:

1.

[2018-04-29 23:50] tclindner commented on #76
Hi @minijus and @ntwb - a pre-release of v3.0.0 has been published to npm. The documentation is still a little sparse (that will change by the stable release). You can try it out by installing `npm-package-json-lint@beta`. Here is a link to the start of the [migration guide](https://github.com/tclindner/npm-package-json-lint/wiki/migrating-from-v2-to-v3).

[2018-04-29 23:53] tclindner commented on #47
Hey @moshest - a pre-release of v3.0.0 has been published to npm. The documentation is still a little sparse (that will change by the stable release). You can try it out by installing `npm-package-json-lint@beta`. Here is a link to the start of the [migration guide](https://github.com/tclindner/npm-package-json-lint/wiki/migrating-from-v2-to-v3). Do you think this will meet your needs for lerna pr

[2018-04-30 09:34] moshest commented on #47
For my Lerna project i just wrote a script that lint every module. You can find it here: https://github.com/remotelib/remote-lib/blob/master/scripts/lint-package.sh

I think that the main feature here is the eslint framework support.

[2018-05-06 02:39] ntwb opened #79 "v3 not reading configuration from `package.json`"
* A little info about your environment
    * npm-package-json-lint version - v3 via `npx -p npm-package-json-lint@beta -c "npmPkgJsonLint ."`
    * npm version - `6.0.0`
    * node version - `8.11.1`
  * The output from npm-package-json-lint
  * What you expected to happen
  * The steps to reproduce the problem

In a `.npmpackagejsonlintrc.json` file in the root of my repo I had:
[code]

The outpu

[2018-05-06 02:49] tclindner commented on #79
Hi @ntwb - thank you for the detailed information and for helping test the beta! Can you confirm that you moved the config to your `package.json` at the root of your repo (`./package.json`)? If so, I think I made a bad assumption. Right now config in package json files don't recursively search up the directory tree. I'll work on a fix and get an update pushed.

P.S. I'm getting really close to com

[2018-05-06 02:53] ntwb commented on #79
Indeed I moved it to the _root_ repo `package.json` file, but I am also running `npmPkgJsonLint` from the root of the repo so there should be no need to _"recursively search up the directory tree"_ for a config in the `package.json` file as it is the same folder where the cli is being executed

[2018-05-06 02:59] ntwb commented on #79
Hmmm, I just created a test repo, its a single file in a folder of its own:

[code]

And running `npx -p npm-package-json-lint@beta -c "npmPkgJsonLint ."` works as expected

[2018-05-06 03:02] ntwb commented on #79
Ahhh, I see what is happening, indeed it is what you suspected, in _"If so, I think I made a bad assumption. Right now config in package json files don't recursively search up the directory tree."_

https://www.npmjs.com/package/cosmiconfig is great at _"recursively search up the directory tree"_ if you're interested

[2018-05-06 03:11] tclindner commented on #79
👍 Do you know if cosmicconfig supports config extension? I would like to keep the `extends` property, if possible.

I think the change to fix this issue should be pretty quick. I'm currently recursively scanning up the project hierarchy, but I'm not checking the `npmPackageJsonLintConfig` property except in the initial directory of the actively linted package.json file 🤦‍♂️ .

[2018-05-06 03:18] ntwb commented on #79
I believe it does, we use cosmiconfig with stylelint and stylelint supports `extends`, i'll have a look around and see if I can find some docs on that

[2018-05-06 03:21] ntwb opened #80 "Add `valid-values-publishConfig` rule"
I'd like to be able to enforce `"access": "public"` as the value for  `publishConfig`:

[code]

Currently [require-publishConfig](https://github.com/tclindner/npm-package-json-lint/wiki/require-publishConfig) requires that `publishConfig` exists

[2018-05-06 03:26] ntwb commented on #79
It doesn't, see https://github.com/davidtheclark/cosmiconfig/issues/40 which is a follow up to https://github.com/davidtheclark/cosmiconfig/issues/1

[2018-05-08 12:09] tclindner commented on #80
I’ll get this tweaked later today. v3 docs are nearly done, so I should have them out later today too! 🎉

[2018-05-09 03:54] tclindner commented on #80
Hey @ntwb - `valid-values-publishConfig` has been published to the beta package for v3. Here is a link to the [docs](https://github.com/tclindner/npm-package-json-lint/wiki/valid-values-publishConfig). Let me know what you think.

[2018-05-09 03:56] tclindner commented on #79
Hey @ntwb - a new beta version has been published. Please let me know if it is working for you. If it is, I'll publish v3 tomorrow!

[2018-05-09 03:59] tclindner commented on #77
Hi @reggi - Can you please clarify what you are asking for with this request?

[2018-05-09 04:13] reggi commented on #77
@tclindner This proposal is for `script-type`.

So `scripts-type` (note the s) exists which needs to be an object. For example.

This passes:

[code]

This fails.

[code]

This feature request is for the following:

But I had an issue recently where a automatic script malfunctioned and added the entire package.json as a property of a `scripts`, and it passed into my CI / CD pipeline, causing mayhe

[2018-05-10 00:33] ntwb opened #81 "New Rule: Indentation Validation"
It would be great to have an _indentation_ rule.

Our repo uses _tabs_ for indentation in all JSON files including `package.json`

(npm added/fixed support for _tabbed_ indentaion in the 5.x releases)

Turns out, whilst creating our npm-package-json-lint _shared config_ I used _spaces_ instead of _tabs_ 🤦‍♂️

Having a rule to detect, and enforce the correct indentation type would be awesome

ESLin

[2018-05-10 01:07] tclindner commented on #81
Great suggestion, @ntwb! I love the gif 😂 🙈

[2018-05-10 01:17] #77 closed

[2018-05-10 01:17] #80 closed

[2018-05-10 01:20] tclindner commented on #75
v3.0.0 has been released! 🎉

[2018-05-10 01:20] #75 closed

[2018-05-10 11:17] evilebottnawi opened #82 "API don't respect `extend`"
When reporting a bug, please include:

  * A little info about your environment
    * npm-package-json-lint version 3.0.0
    * npm version 6.0.0
    * node version 10.0.0
  * The output from npm-package-json-lint
   Output error only which in configuration list without rules in extend.
  * What you expected to happen
    Respect `extends` in api
  * The steps to reproduce the problem
[code]

In `

[2018-05-11 02:08] tclindner commented on #82
Hey @evilebottnawi! v3's Node API got quite an overhaul. Calling the `lint` function of `NpmPackageJsonLint` strictly runs the linter. All of the configuration loading and processing logic has been encapsulated in the new `CLIEngine`. Can you please give the following a shot and see if it meets your needs? If it does, I'll try to improve the migration guide to do a better job calling out this chan

[2018-05-11 10:33] evilebottnawi commented on #82
@tclindner when i use linter programmly, using `CLIEngire` looks is misleading :confused:

[2018-05-12 19:10] tclindner commented on #82
Hi @evilebottnawi - I'm sorry that you find the new API is misleading. 😢 If you prefer to use the linter directly you still can. Does something like this feel better to you?

[code]

[2018-05-12 19:43] evilebottnawi commented on #82
@tclindner i already found solution, like you write above. I think we can fix misleading api in version 4. Just allow linting programmatically without creating `CLIEngine` (`stylelint/eslint` allow this) :+1:

[2018-05-13 00:48] ntwb commented on #47
I went and took a look at the feasibility of converting the rules here into ESLInt rules and I don't believe this is possible primarily because ESLint does **not** include a JSON parser and has no plan of doing so.

Also `eslint-plugin-json` is **not** extensible with any rules or configs, it only checks that JSON files are valid, that is it.

[2018-05-13 01:02] ntwb commented on #79
@tclindner I've just updated to v3 and I'm still seeing this issue.

In my PR I've got a `npmPackageJsonLintConfig ` config in the root `package.json` ([src](https://github.com/WordPress/packages/pull/119/files#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R32))

When I run any of these commands they all result in the same error:
• `./node_modules/.bin/npmPkgJsonLint .`
• `./node_modules/.bin/npmPkgJsonLin

[2018-05-13 01:22] ntwb opened #83 "Create a Jest "runner""
Jest has the option to support custom "runners"

A couple of examples:
• https://www.npmjs.com/package/jest-runner-eslint
• https://www.npmjs.com/package/jest-runner-stylelint

Each of the above (and others) utilise this library:
• https://www.npmjs.com/package/create-jest-runner

It would be great to have a _npm-package-json-lint_ "runner" for jest
• e.g. https://www.npmjs.com/package/jest-runner

[2018-05-13 08:07] moshest commented on #47
Just to clarify, we looking for a JSON parser that can return a `line` and a `column` map for every property on the JSON file. Right?

[2018-05-14 02:30] tclindner commented on #79
Hey @ntwb I'm sorry you are still experiencing this issue. I unfortunately didn't have time to take a look at this today. I will take a look at it tomorrow and get back to you. I hope you had a nice weekend!

[2018-05-14 02:32] tclindner commented on #47
Thank you so much for digging in to this, @ntwb! @moshest yeah, that would be great. I haven't found an active project to parse JSON files to AST. Are you aware of anything?

[2018-05-14 02:35] tclindner commented on #83
Very cool! I'll do some reading on this and try to get a repo created for us once #82 is in a good spot.

[2018-05-14 02:42] tclindner commented on #82
Hey @evilebottnawi and @ntwb - I took a look at ESLint's Node.js API and it looks like their `linter` class takes in a config object too. They note that:

How are you using their linter without needing the `CLIEngine` to process the configuration?

[2018-05-31 10:15] ntwb opened #85 "New Rule: Engines Validation"
It would be great to have a `valid-values-engines` rule to validate and enfore specific Node.js and/or npm versions, ideally support valid SemVer versioning.

[code]

[2018-06-02 15:03] tclindner commented on #85
Great suggestion, @ntwb! I'll start on this over the weekend.

[2018-06-02 18:33] #85 closed

[2018-06-02 18:39] tclindner commented on #85
Let me know how it works for you! Here's a [link to the docs](https://github.com/tclindner/npm-package-json-lint/wiki/valid-values-engines).

[2018-07-23 23:38] ntwb commented on #69
We at @WordPress are using [Lerna](https://github.com/lerna/lerna) and currently have [38 packages](https://github.com/WordPress/gutenberg/tree/master/packages) that are published to npmjs.com.

This would work for our use case, also not just _lowercase_ it should also adhere to using _kebab-case_, as _snake_case_, _camelCase_, and _PascalCase_ are not valid npmjs.com URL formats etc.

Our use cas

[2018-07-23 23:43] ntwb opened #89 "New Rule: Description Validation"
A rule to validate description format.

It was mentioned https://github.com/WordPress/gutenberg/pull/8121#discussion_r204443577 that it would be great to have a rule to ensure that a description ended with a `.` period:

e.g. `My package description.` rather than `My package description`

Another possability would be to ensure that the description started with a capital letter:

e.g. `My package d

[2018-07-24 01:43] tclindner commented on #69
Thank you, @ntwb! I'll start in on this issue soon.

[2018-07-24 01:50] tclindner commented on #89
Thanks, @ntwb! Do you have any thoughts on whether you foresee other validations of the description in the future? I'm debating if we should create a rule called `description-format` that only takes a severity level or if we should allow it to have its own options like `requireCapitalFirstLetter` and `requireEndingPeriod`. What do you think?

[2018-07-24 01:53] ntwb commented on #89
Right now I can't think of any extra validations that may be required in the future.

Having the options would somewhat future proof that though might it?

[2018-07-24 01:55] tclindner commented on #89
Yeah, definitely. I'll get started on this soon and let you know when it is ready! Thanks, @ntwb

[2018-08-21 14:04] aduth opened #91 "Windows compatibility"
In Windows environments, the following error is thrown:

[code]

Looking at the source for where the error is thrown, it's expected this could be an issue with the path separator differences in Windows environments:

https://github.com/tclindner/npm-package-json-lint/blob/ca25109a1e48e6eb3333ca313de11e1a9a26a62b/src/CLIEngine.js#L181

See also:

- https://nodejs.org/api/path.html#path_path_sep
- h

[2018-08-23 13:36] tclindner commented on #91
Sorry about that! I’ll get a fix push later today.

[2018-08-24 02:15] tclindner commented on #91
Thank you so much for the detailed issue description, @aduth!

[2018-08-24 02:18] #91 closed

[2018-08-24 14:15] aduth commented on #91
Thanks @tclindner . Will give it a shot and report back if we have any issues 👍

[2018-09-11 19:43] lddubeau opened #93 "feature suggestion: support exceptions for the "prefer-...-dependencies" rules"
I use rules like `prefer-caret-version-dependencies`. However, sometimes a dependency has a problem that requires me to specify a version range that cannot be represented with a caret version.

Looking at the documentation, I cannot see a way currently to specify exceptions to the rule. Either all dependencies are checked and if any of them don't use the caret syntax, I get an error. Or I have to

[2018-09-14 02:13] tclindner commented on #93
Great suggestion, @lddubeau!

[2018-10-08 15:38] jogold opened #96 "Support overrides"
It would be great to have support for an `overrides` field in the config file, just like `ESLint` has. This could be especially useful for monorepos.

[code]

Any plans to support this? Ready to help.

[2018-10-08 19:30] agvctm opened #97 "`no-caret-version-dependencies` does not work with multiple dependencies"
I'm using this in an angular 5.2 project, node 8.12. Library version 3.4.0

When specifying the `no-caret-version-dependencies` to 'error' it will only error out when there is only one dependency. With multiple dependencies, it always returns true. This behavior seems to be verified with unit tests. I changed the following in `no-caret-version-dependencies.test.js`

[code]

to
[code]

and get a fa

[2018-10-08 20:30] agvctm commented on #97
I think the problem is in the rule implementation:
[code]

If will only return the LintIssue if areVersRangesValid returns true. But that function will only return true if ALL the dependencies contain the caret. I want an error if ANY of the dependencies have the caret. It looks like the tilde and devDependencies of this have the same behavior.

If I have time. I'll try to get a PR together it.

[2018-10-09 00:09] agvctm commented on #97
It turns out I can use `prefer-absolute-version-dependencies` and `prefer-absolute-version-devDependencies` will accomplish what I need to do. So, I'll close this issue.

However, I would still consider the behavior of `no-caret|tilde-version-(dev)Dependencies` to be a bug?

Thanks for library though. This will help us to not have to track the `package-lock.json` file.

[2018-10-09 00:09] #97 closed

[2018-10-13 21:02] tclindner commented on #96
Hey @jogold! Thank you for using the project. We have a version of this right now. If you are using a monorepo you can place different config for each project in the repo. npm-package-json-lint will check the config for each project and lint them according to those rules. It is also possible to cascade the config too. For example, if you place the main config in the root of the repo then separate

[2018-10-13 23:29] tclindner commented on #97
Hey @agvctm! Thank you for using the project. I'm excited that this project is helping you. I appreciate you putting some much detail in this issue. I've published v3.4.1 that should resolve the issue impacting no-caret|tilde-version-(dev)Dependencies. Let me know if you have any other issues.

[2018-10-15 20:41] jogold commented on #96
Hi @tclindner,

Thanks for the detailed answer. I'm currently using this "merge" functionality but it doesn't cover all cases.

Let's say I'm using an `extends` in the root `package.json` with all the rules that should be applied to the majority of my packages in `packages/`. If I want to disable a rule in one of my packages I can go to the `package.json` of this package and add a `npmPackageJsonL

[2019-01-25 12:47] evilebottnawi opened #99 "Support `--ignore-path` for CLI"
I remove template because it is not bug, it is feature. stylelint/eslint/etc linters have `--ignore-path` CLI option for ignoring paths, example i have project where use `php` and `nodejs`, `php` use `composer` as package manager and store all dependencies in `vendor` directory and some packages contains `package.json`, i want ignore `vendor` directory.

I use `npmPkgJsonLint --quiet .` command fo

[2019-01-26 16:30] tclindner commented on #99
Great suggestion, @evilebottnawi! I would love a PR if you have time. Thank you 🥇

[2019-02-03 20:33] #99 closed

[2019-03-13 09:06] ntwb commented on #93
I just went searching the repo here for "exception", I've a use case in the monorepo we use @WordPress where 20 of the packages require `require-module`, and the other 20 do not.

So thinking on a wider note, there would be a use case for many of the rules in this package to allow exceptions of some sort.

[2019-03-14 08:45] askarby opened #108 "[perhaps a Feature Request] Custom rule"
It may just be me, but...

I can't seem to find a way to include my own, custom rule (just like ESLint and TSLint provides). Granted, I could create a rule, and submit a pull request for it, but I may have a very domain specific rule, that I want to apply.

Is there already an option to do that.... if not, this can be considered a feature request 😄

[2019-03-16 01:40] tclindner commented on #108
Hey @askarby! We don't have that capability yet. I like the suggestion.

What rule are you thinking about adding?

[2019-03-16 02:25] tclindner commented on #93
@ntwb - I'm curious if you would prefer this for your monorepo scenario.
Use globs to specify different config for sub-packages (note the draft structure below is a breaking change. I'm not sure about this syntax 🤓. I'm curious where some for the RFCs for ESLint will go in 2019).

The linter would use the first config object for the root package.json file. The linter would use the second config ob

[2019-03-16 18:19] lddubeau commented on #93
@tclindner Yep, within the same `package.json` the rule should generally apply but some modules should be ignored by the rule. Adding an `exceptions` field to configure the rule would do it.

[2019-03-20 05:00] ntwb commented on #93
Thanks @tclindner looking at the file glob example:

I think having a glob pattern for ~20 paths, i.e. I want to exclude ~20 from the ~40 we have might get a little unwieldy.

Whereas, your second example with an array of modules to exclude I think looks a little cleaner:

[code]

[2019-03-20 07:12] askarby commented on #108
I'm thinking about rules like:
- disallowing relative paths in dependencies
- disallowing git-repo dependencies
- disallowing specific dependency versions (based on certain git repos)

etc.

[2019-04-30 05:30] ceilfors opened #109 "Support for "require-types""
This is not from the official package.json, but from TypeScript. See: https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html

Notice that `typings` is a synonym, so supporting `require-typings` would be nice too.

[2019-05-05 19:21] tclindner commented on #109
Cool. 😎 I'm up for adding this.

[2019-06-16 21:58] #109 closed

[2019-06-16 21:59] tclindner commented on #109
Hey @ceilfors - Let me know if you have any issues.
https://github.com/tclindner/npm-package-json-lint/releases/tag/v3.7.0

[2019-06-16 22:12] tclindner opened #113 "Drop support for Node v6 and v7"
Bump the following dependencies
* is-plain-obj to 2.x.x
* log-symbols to 3.x.x
* figures to 3.x.x
* strip-json-comments to 3.x.x
* node-semver to 6.x.x

[2019-06-16 22:12] tclindner opened #114 "Launch docs site"

[2019-06-16 22:16] tclindner commented on #47
Hey @moshest and @ntwb - have you two found a good option for parsing JSON files to AST? I haven't had much luck finding anything.

[2019-06-16 22:24] tclindner opened #115 "Enhance name-format rule"
https://docs.npmjs.com/files/package.json#name

Validate
* kebab-case
* Name is less than or equal to 214 characters. This includes the scope for scoped packages.
* Name doesn’t start with a dot or an underscore.
* No non-URL-safe characters.

[2019-06-16 22:27] tclindner commented on #69
Hey @RefinedSoftwareLLC I'm going to mark this complete based on the great work of @jogold 🙌 . Please let us know if you would like any further enhancements made!

[2019-06-16 22:27] #69 closed

[2019-06-17 04:48] ceilfors commented on #109
Thanks for adding this!

[2019-06-22 15:44] tclindner commented on #96
Hey @jogold would you be willing to help with this for v4?

[2019-06-22 15:47] tclindner commented on #82
Hey @evilebottnawi what do you think of the previous comment? It seems like ESLint follows this same practice. I'm happy to make changes if you can help me understand the differences between how you use ESLint's API and npm-package-json-lint's API.

[2019-06-22 16:00] #113 closed

[2019-06-27 10:10] jogold commented on #96
Hey @tclindner, thanks for reaching out!

I don't have a lot of time right now... keep you posted.

[2019-06-27 22:13] tclindner commented on #96
No worries, @jogold! Good luck with your projects 🥇

[2019-06-29 20:56] #93 closed

[2019-06-29 21:01] #115 closed

[2019-07-05 07:24] ntwb commented on #81
Closing per discussion in that parsing JSON to an AST doesn't have many good options right now

[2019-07-05 07:24] #81 closed

[2019-07-05 07:27] ntwb commented on #82
I don't think ESLint uses cosmic config, but we do in stylelint

https://www.npmjs.com/package/cosmiconfig

Is that what you were thinking of here @evilebottnawi ?

(@evilebottnawi and I are both on the @stylelint team)

[2019-07-05 10:30] evilebottnawi commented on #82
i think using `cosmiconfig` is good idea, we need this API for testing our configuration, we solve this on our side, but will be great if problem will be solved on package level

[2019-07-08 01:37] tclindner commented on #82
Thanks, @evilebottnawi and @ntwb. I've started implementing cosmicconfig based on your recommendation. I don't think that has any impact on the public API of this module, though. Can you confirm that you would like is a single method, `lint`, that applies all config lookup/extends/etc. when invoked?

[2019-07-08 01:37] tclindner commented on #47
Closing based on discussion with @ntwb. Relates to #81.
https://github.com/tclindner/npm-package-json-lint/issues/81#issuecomment-508659251

[2019-07-08 01:37] #47 closed

[2019-07-08 10:07] evilebottnawi commented on #82
Yes, linting should load extended config :+1:

[2019-07-27 21:05] #96 closed

[2019-07-27 21:05] #82 closed

[2019-07-28 14:15] cdfa opened #124 "No configuration found when installed with pnpm"
I installed `npm-package-json-lint-config-default` and created the config file from it's installation instructions, but it says it can't find the config. When pointing it to the config with `-c .npmpackagejsonlintrc.json` it does work.

When reporting a bug, please include:

  * A little info about your environment
    * npm-package-json-lint version: `2.0.0`
    * ~npm version:~ pnpm version: `3.

[2019-07-28 14:32] tclindner commented on #124
Hey @cdfa! Sorry you are having issues. Can you please clarify a few things for me?

1.  You are running `3.6.1` of `npm-package-json-lint` and `2.0.0` of `npm-package-json-lint-config-default`?
2. Is `npm-package-json-lint` installed as a `devDependency` or `dependency` in your project?
3. Where is your `.npmpackagejsonlintrc.json` config file located?

[2019-07-28 14:57] cdfa commented on #124
Wow you reply quick!
1. Oops, `2.0.0` of `npm-package-json-lint-config-default` indeed, but `3.7.0` of `npm-package-json-lint`. The `3.6.1` is from the package manager i use: [PNPM](https://pnpm.js.org/). It deduplicates packages system-wide using a lot of linking, but I don't think that's the issue here, since it doesn't seem to have any problem reading the config from the package when it has the

[2019-07-28 22:13] tclindner commented on #124
Thank you for confirming! Sorry for all of the questions. Do you know where `npm-package-json-lint` gets installed for the project you are using when you are using `pnpm`? Right now it currently walks the directory structure up from the place it is installed. If it can't find anything then it checks your home directory. Finally, it checks for for any cli passed paths.

I tried running `npx npmPkgJ

[2019-07-28 23:09] #114 closed

[2019-07-29 08:29] cdfa commented on #124
Ah! That makes sense then.`pnpm` installs all packages in a central location in the home directory, so if `npm-package-json-lint` walks up from there it won't find my project's config.

I think that behaviour is quite unexpected though. I would expect to at least have it start from current working directory instead of it's install location.

[2019-07-30 02:27] tclindner commented on #124
Yep, I agree! I’m working on adjusting how this works in v4. If you don’t mind running a beta, you can give v4 a try by installing `npm-package-json-lint@beta`. If you would prefer not to use a beta, would you be comfortable using the `-c` flag until v4 is ready?

[2019-07-30 07:49] cdfa commented on #124
Yeah using the `-c` flag is just fine! Good to know the root cause of the issue and that it will be resolved soon!

[2019-07-30 09:49] dietergeerts commented on #108
I'm in for this too. For example, we want to restrict the 'files' value for library packages in our mono-repo, so adding something to validate the value of it against something we want would be awesome.

[2019-08-05 18:00] slavafomin opened #126 "Incorrect docs for "require-license""
Hello!

Thank you for this great library!

However, the documentation for [require-license](https://github.com/tclindner/npm-package-json-lint/wiki/require-license) is incorrect. The property in the example is named `required-license`, however, it should be `require-license`.

Thanks!

[2019-08-05 18:03] slavafomin commented on #126
I've submitted a PR for this: https://github.com/tclindner/npm-package-json-lint/pull/127

[2019-08-05 18:03] #126 closed

[2019-08-05 18:08] slavafomin opened #128 "Requiring field to be missing"
Hello!

Is there a way to require field to be missing? For example, I want `bundledDependencies` field NOT TO be present in the manifest.

I've tried:

[code]

but it's not working. Is there a way to negate the rule perhaps?

Thanks!

[2019-08-06 02:17] tclindner commented on #128
Hey @slavafomin - Unfortunately not right now. I like the idea, though. I'm worried that `require-bundledDependencies` false might get confused with an optional property. What do you think? Do you think it makes more sense to negate the `require-*` rules or add `no-bundledDependencies` or something else?

[2019-08-06 02:20] tclindner commented on #108
Thanks, @dietergeerts. I'm moving (slowly) through v4. I'm hoping this will be a part of it. Do you have any thoughts on your preferred interface for writing custom rules? I'm starting to think through how this might work.

[2019-08-20 16:21] buschtoens opened #129 "Regex for dependency versions"
Related to #42, #93

It would be nice if we could give more granular control over what types of versions, Git URLs, tarball URLs, etc are allowed.

For example, I would like to disallow anything but valid semantic versions (especially Git URLs) for all dependency packages, and only allow tarballs from a certain host for some dependency packages.

[2019-09-22 17:13] tclindner commented on #129
Hey @buschtoens great suggestion! Would you be interested in helping define the patterns you would like to use?

[2019-09-22 17:18] tclindner commented on #128
Hey @slavafomin do you have thoughts on the question above?

[2019-09-22 17:52] #124 closed

[2019-09-23 12:58] slavafomin commented on #128
Looking at other linters, like ESLint, the are rules which could work in multiple directions, like in our example. Such rules have a broader name, e.g. `block-spacing`, instead of `no-block-spacing` or `require-block-spacing`, and they could have multiple values like `always` or `never`.

So, if you would like to stick to the common "linting" syntax, then the correct way would be to name the rule

[2019-09-24 01:53] tclindner commented on #128
Thank you so much for the detailed response! I’ll take some time to review other linters and post back to you this weekend 🙌

[2019-10-04 13:12] simison opened #132 "Enhancement: `prefer-no-dependencies` rules"
Hello! :wave:

I'd have a use case for `prefer-no-devDependencies` rule. :-)

In a [monorepo](https://github.com/Automattic/wp-calypso/) managed by [Lerna](https://github.com/lerna/lerna) that is configured in a specific way, all `devDependencies` should go to root `package.json` or they won't get installed at all.

Therefore I'd like to verify that `devDependencies` are not added to monorepo's `p

[2019-10-06 16:58] #132 closed

[2019-10-06 17:05] tclindner commented on #132
Hey @simison - Thank you so much for adding this 🙌

[2019-10-06 17:05] tclindner opened #134 "Add prefer-no-dependencies rule"
**Background**
See #132 and #133

[2019-10-06 17:05] tclindner opened #135 "Add prefer-no-optionalDependencies rule"
**Background**
See #132 and #133

[2019-10-06 17:05] tclindner opened #136 "Add prefer-no-peerDependencies rule"
**Background**
See #132 and #133

[2019-10-06 23:28] ntwb opened #140 "No configuration found error with 4.0.0"
Looking at the Greenkeeper PR https://github.com/WordPress-Coding-Standards/stylelint-config-wordpress/pull/242

Travis CI build is failing with the following error:
[code]

https://github.com/WordPress-Coding-Standards/stylelint-config-wordpress/blob/master/package.json#L97-L107

I suspect this issue is related to the addition of cosmiconfig?

[2019-10-06 23:42] tclindner commented on #140
Hey @ntwb! Yeah, I think you are right. Can you please try updating your package.json property to `npmpackagejsonlint`? I'll get the docs updated to reflect that (sorry about missing that).

Thank you! 🤞

[2019-10-07 01:58] ntwb commented on #140
Thanks, that worked 🎉

[2019-10-07 01:58] #140 closed

[2019-10-14 07:48] sakthivel-tw opened #142 "Array type rules now ensure at least one item is passed - contradicts prefer-property-order options"
**Issue Description**

Release notes for `npm-package-json-lint` v4.0.0 states: `Array type rules now ensure at least one item is passed`.

This contradicts to the rule `prefer-property-order` which can allow empty array.

https://npmpackagejsonlint.org/docs/en/rules/package-json-properties/prefer-property-order

  * A little info about your environment
    * npm-package-json-lint version - **v4.0

[2019-10-19 19:02] tclindner commented on #142
Good catch, @sakthivel-tw 🙌

[2019-10-19 20:13] #142 closed

[2019-10-19 20:21] tclindner commented on #142
@sakthivel-tw let me know if you still have issues!

[2019-10-20 04:34] sakthivel-tw commented on #142
Thanks for the fix!

[2019-11-05 10:09] mhohmeier opened #152 "globby does not find package.json files under windows"
Hi!
Since Version 10.0.0, globby only allows forward slashes in patterns. This can be found here:
[https://github.com/sindresorhus/globby/releases/tag/v10.0.0](https://github.com/sindresorhus/globby/releases/tag/v10.0.0) and here
[https://github.com/mrmlnc/fast-glob/releases/tag/3.0.0](https://github.com/mrmlnc/fast-glob/releases/tag/3.0.0)

getFileList.js in this repository uses path.sep which is

[2019-11-09 23:54] aaroncadrian opened #153 "Add prefer-alphabetical-scripts rule"
This rule would function similarly to `prefer-alphabetical-dependencies` and `prefer-alphabetical-devDependencies` on the keys of `scripts`.

[2019-11-09 23:57] aaroncadrian commented on #108
I too would love this feature.  In terms of an interface, I'd prefer to have one similar to that of `tslint`'s custom rules API.

On that same note, I'd prefer to have a TypeScript interface available to write custom rules.

[2019-11-09 23:58] aaroncadrian opened #154 "Add no-types-in-dependencies rule"
I'd like a rule that forbids `@type/*` dependencies from appearing in `dependencies`.  By my standards, all `@type/*` dependencies should appear only in `devDependencies`.  I'd like a rule to enforce this.

[2019-11-10 00:01] aaroncadrian opened #155 "Add no-repeated-dependencies rule"
On one of my projects, someone installed a dependency in `dependencies` that already existed in `devDependencies`.

For example:

[code]

In this example, I'd like a rule that would throw an error upon detecting that `b` is in both `dependencies` and `devDependencies`.

[2019-11-10 03:06] #152 closed

[2019-11-10 03:08] tclindner commented on #152
Hey @mhohmeier! Sorry about that. I didn't catch the path separator change in `fast-glob` (dep of globby). I've released v4.0.5. All `path.sep` instances have been replaced with `/`. Please let me know if you have additional issues.

[2019-11-10 04:45] #134 closed

[2019-11-10 04:45] #135 closed

[2019-11-10 04:45] #136 closed

[2019-11-10 04:52] tclindner opened #159 "Update prefer-no-devDependencies ruleType to standard"
`prefer-no-devDependencies`'s ruleType is currently set to `optionalObject`. It should be `standard`. Update to `standard` in v5.0.0.

[2019-11-10 05:03] tclindner opened #160 "Upgrade to cosmicconfig v6.0.0"
See #151. [cosmicconfig v6.0.0](https://github.com/davidtheclark/cosmiconfig/blob/master/CHANGELOG.md#600) introduces a number of breaking changes that should probably be bundled with the next major of version to ensure config loading isn't unexpectedly changed.

[2019-11-10 05:11] tclindner commented on #154
Hey @aaroncadrian thank you for using npm-package-json-lint!! What do you think about using [`no-restricted-dependencies`](https://npmpackagejsonlint.org/docs/en/rules/dependencies/no-restricted-dependencies) to accomplish this? It will require all `@types/*` to be listed. Let me know if that seems unmanageable and we can discuss further.

[2019-11-10 05:12] tclindner commented on #83
@ntwb do you still have interest in a Jest runner or are you okay with the existing cli and Node.js API?

[2019-11-10 18:19] aaroncadrian commented on #154
No problem! Thanks for all your hard work, @tclindner!

I like this approach with `no-restricted-dependencies` since it’s much more flexible. Could you make it possible for the rule to accept a list of regular expressions? That way instead of listing each `@types/*` dependency, I can just put `@types/.*`.

The idea is that I’d want this linter to make my build pipeline fail, so I need a way to cap

[2019-11-13 16:35] tomtomsen opened #163 "empty description results in javascript error"
# Description
If there is a empty description in `package.json`, `npm-package-json-lint` fails with the error `Cannot read property 'toUpperCase' of undefined`.

# Environment:
- `npm-package-json-lint`: `4.1.0`
- `npm`: `6.13.0`
- `node`: `10.16.3`

# My `package.json`:
[code]

# Output:
[code]

# Expected:
List of all actual errors

[2019-11-14 03:24] tclindner commented on #163
Hey @tomtomsen! Nice catch! I’ll get a release cut tomorrow with your fix. Thank you for opening a PR 🙌

[2019-11-14 03:28] tclindner commented on #154
Yeah, that’s a great idea! I can take a stab at the implementation.

[2019-11-15 02:17] #163 closed

[2019-11-15 02:35] tclindner commented on #163
Hey @tomtomsen, [`v4.1.1`](https://github.com/tclindner/npm-package-json-lint/releases/tag/v4.1.1) has been released. Thank you again for fixing this issue 🥇

[2019-11-17 00:02] #153 closed

[2019-11-17 00:02] #154 closed

[2019-11-17 00:02] #155 closed

[2019-11-17 00:13] tclindner commented on #153
Hey @aaroncadrian [`v4.2.0`](https://github.com/tclindner/npm-package-json-lint/releases/tag/v4.2.0) has been released. Let me know what you think of the new rule!

[2019-11-17 00:13] tclindner commented on #155
Hey @aaroncadrian [`v4.2.0`](https://github.com/tclindner/npm-package-json-lint/releases/tag/v4.2.0) has been released. Let me know what you think of the new rule!

[2019-11-17 00:14] tclindner commented on #154
Hey @aaroncadrian [`v4.2.0`](https://github.com/tclindner/npm-package-json-lint/releases/tag/v4.2.0) has been released. Let me know what you think of the enhanced rules!

[2019-11-17 07:57] ntwb commented on #83
I do actually, I've started work on a runner for another app, once that's done I'll begin work on this, happy for you to close this if you would like though, I'll send you a link to it once done

[2019-11-18 03:03] tclindner commented on #83
Awesome! 🙌 I'll keep this open as a reminder. We can use it to add the Jest runner to the list of related projects/tools. Thank you, @ntwb!

[2019-11-20 22:11] aaroncadrian commented on #154
Fantastic work! Thank you so much!

[2019-11-22 23:25] geoffdutton opened #168 "When using lerna with sub-packages, node_modules is not being ignored"
[laconiajs](https://github.com/laconiajs/laconia/pull/399) uses [lerna](https://github.com/lerna/lerna) with the individual packages in the `packages/` sub-directory.

The following command will causes `npm-package-json-lint` to lint `packages/some-package/node_modules/some-dependency/package.json`:

[code]

The temporary fix is to specific a `.npmpackagejsonlintignore` file with the contents `nod

[2019-11-24 01:35] tclindner commented on #168
Thank you for logging this issue! I wanted to let you know that I won’t be able to look at this for the next week. I’m looking forward to reviewing.

[2019-11-26 21:05] jasonmobley opened #171 "Rule to disallow duplicate keys within block"
Would be nice to have a rule that errors or warns if the same key is defined twice in the same block. My use case is really making sure a _dependency_ is not listed twice, but the idea applies across the whole file.

For example, this is probably a mistake:
[code]

This may be easier said than done since the behavior of `JSON.parse()` appears to be "use the last value defined for that key as its p

[2019-12-05 03:18] tclindner commented on #171
Thank you, @jasonmobley. I like the idea.

[2019-12-05 03:20] tclindner commented on #168
@geoffdutton makes total sense. I'll get a fix in this weekend. Thank you for logging the issue 🎉

[2019-12-15 23:36] tclindner commented on #171
Released in v4.5.0. Thank you, @effrenus! 🎉

[2019-12-15 23:36] #171 closed

[2020-01-12 18:28] piranna commented on #70
Any update on that? Seems just only the CLI support the `--fix` flag but without any actual code behind... :-/

[2020-01-14 20:23] piranna opened #196 "forbidEndingPeriod"
https://github.com/tclindner/npm-package-json-lint/blob/b3233087c719dbcaf8353f06b9971539f48df490/src/rules/description-format.js#L33

The same that there's a `requireEndingPeriod` option, add a new one for `forbidEndingPeriod`, or allow it to be three state.

[2020-01-15 03:37] tclindner commented on #70
Hey @piranna - you are correct. v4 added the fix flag to the cli interface, but nothing has been implemented behind it. v3 and v4 went through some pretty major structural changes and this feature unfortunately got pushed to the side. I’ve been pretty busy recently. I’ll try to get back to focusing in the next couple of weeks.

Thank you for you patiences.

[2020-01-15 03:38] tclindner commented on #196
I like it! Thanks for the suggestion. I’ll take a stab when I review the other ticket you commented on.

[2020-01-15 08:21] piranna commented on #70
You are welcome :-) Please keep us updated when this works again :-D

[2020-01-15 08:22] piranna commented on #196
Nice! :-D

[2020-01-26 12:45] piranna opened #200 "Require name scope"
Add new rule to require name to have defined a scope. Ideally It should be a three state field (always, never or don't café).

[2020-01-26 12:51] piranna commented on #200
Maybe valid-name-scope would do the job with a regexp, in that case an example is needed un the docs.

[2020-01-29 03:34] tclindner commented on #200
Thank you, @piranna! I take a look at this tomorrow and get back to you.

[2020-01-29 08:43] piranna commented on #200
Thank you! :-)

[2020-01-30 03:12] tclindner commented on #200
@piranna do you think [`valid-values-name-scope`](https://npmpackagejsonlint.org/docs/en/rules/valid-values/valid-values-name-scope) will meet your needs? `error` covers `always`. `off` covers `don't care`. `never` is a gap.

btw - I've got time this weekend to get caught up on some tickets 🤓

[2020-01-30 09:22] piranna commented on #200
Didn't test it, but as I've told you in https://github.com/tclindner/npm-package-json-lint/issues/200#issuecomment-578499019, reviewing the code maybe it could work by defining a regular expression instead of a full scope, just only it would need to be tested :-)

By the way, why dows it requires the `@` to be defined in the name scope? Is it for generity in case there's another registry don't use

[2020-01-30 21:25] piranna opened #203 "move checking to `engines-type`"
https://github.com/tclindner/npm-package-json-lint/blob/a4d6e7cfcfd587ea0646ab01a5bde64634c138db/src/rules/valid-values-engines.js#L24-L35

`valid-engines-values` is also checking that the values are of the correct type, instead of just only cheking they are one of the specified versions. I think this type checking should be moved to `engines-type` to ensure it's a mapping object of strings instea

[2020-02-03 01:40] #168 closed

[2020-02-03 01:46] tclindner commented on #168
@geoffdutton let me know if `v4.5.2` clears up your issue! Thanks.

[2020-02-03 03:29] #196 closed

[2020-02-03 03:34] tclindner commented on #196
v4.6.0 has been released with the new option. I'll consolidate them in v5.0.0 (breaking change).

[2020-02-03 08:35] piranna commented on #196
Cool, thanks! :-D

[2020-02-07 19:40] StephenEsser opened #208 "[Feature Request] Custom Rule Integration"
## Summary

I stumbled onto this project after having a similar idea and doing a quick search on the NPM registry. If this functionality already exists please let me know. I didn't see any information on the documentation site regarding custom rules.

There are use cases where certain projects may want to implement custom rule integration. A plugin system similar to adding rules to [eslint](https:

[2020-02-18 00:13] tclindner commented on #203
Hi @piranna - thanks for the issue! I have a handful of questions:

  1. Is there any harm in checking the type here so we can provide more information in the version range is invalid?
  2. This rule follows the format of other `valid-values-*` rules. They check that the value specified matches the config. This is really useful for shared config modules that are used across many repos and/or monor

[2020-02-18 00:14] tclindner commented on #200
@piranna - yes, re: `@`. Do you have any concerns with that approach?

I'm going to focus on adding plugin support next. Do you have an immediate use case for `never` right now? If so, I can focus on this first.

[2020-02-18 00:14] tclindner commented on #208
Hey @StephenEsser, thanks for using this project! We currently don't have that feature, but it is one of two major features on the roadmap (auto-fixing).

I believe the core rules will allow you to achieve the first one. "Disallow specific packages from being listed in dependencies, devDependencies, or peerDependencies."

The other rules look like nice core rules too. What are your thoughts on spi

[2020-02-18 09:23] piranna commented on #200
Not at all, just only would be nice to have that in the documentation :-)

Not at all :-)

[2020-02-18 09:39] piranna commented on #203
Not at all, but the problem is that it's a misnomer. Rule check for valid values, but it's checking if it's a valid range regarding to `semver` format, not a range compatible with a specified version.

That's the point, there's no config :-) I would have expected similar to the behaviour or other similar rules than it would validates than engines version range matches to a provided version.

Yes,

[2020-02-24 01:16] StephenEsser commented on #208
Hey @tclindner, I think adding to the list of core rules is a good idea.  Feel free to consolidate the custom rule support issues together. I should have taken a closer look at the issue list.

The projects I work on would greatly benefit from custom rule integration. I'll check in from time to time to see how things are going with the project. Keep up the good work!

[2020-02-24 01:16] #208 closed

[2020-02-24 01:17] StephenEsser commented on #108
Consolidating issue #208 here. Adding the notes mentioned on the other issue:

There are use cases where certain projects may want to implement custom rule integration. A plugin system similar to adding rules to [eslint](https://github.com/eslint/eslint) or [stylelint](https://github.com/stylelint/stylelint).

Examples of custom rules:

- Disallow specific packages from being listed in dependencie

[2020-03-18 15:06] AuHau opened #220 "Git dependency with tag/commit hash"
When you add Git repo as a dependency it will grab always the latest commit upon installation, which makes it unpredictable because two developers can use different versions of the same dependency just because they installed it in different times.

It is possible to "stabilize" this situation using either tag version or commit hash which specifies the exact point of the dependency's history that w

[2020-03-19 16:55] Rambobafet opened #221 "Confusing documentation around about valid-values-license and require-license"
Hi :)
Not sure if that it's a bug, but i'm pretty sure that I'm, at least, missing a point and I would need clarification about 2 rules because I find the documentation confusing:
- [require-license](https://npmpackagejsonlint.org/docs/en/rules/required-node/require-license) says that the correct value of `license` is `MIT`.
- [valid-values-license](https://npmpackagejsonlint.org/docs/en/rules/val

[2020-03-28 15:45] almeynman opened #227 "Feature request: scripts must contain ['test', 'lint', ...]"
Hi, thanks for this awesome package!

We have a monorepo and most of the packages have similar scripts (lint, test, etc.), so we wanted to enforce the same naming convention for common scripts. I am willing to do a PR on it, however I have not found any rule like that, i.e. that accepts an array of strings. Could you direct me on how to implement it?

[2020-04-12 02:18] tclindner commented on #227
Hey @almeynman! Thank you for using the package and for offering to add a new feature 🎉

You can model the new rule after `prefer-property-order`. Here is a link to the [source file](https://github.com/tclindner/npm-package-json-lint/blob/master/src/rules/prefer-property-order.js) and the [test file](https://github.com/tclindner/npm-package-json-lint/blob/master/test/unit/rules/prefer-property-ord

[2020-04-12 02:21] tclindner commented on #220
Hey @AuHau! That sounds like a great rule idea. You might be able to build off the following rules. What are you thinking about the name for the rules? What do you think about making a dependency and devDependency variant?

https://npmpackagejsonlint.org/docs/en/rules/dependencies/no-git-dependencies
https://npmpackagejsonlint.org/docs/en/rules/dependencies/no-git-devdependencies

[2020-04-12 02:37] tclindner commented on #221
Hey Bob! Sorry that the docs are confusing!

* `require-license` enforces that the license field is present and of the right type (i.e. String). It doesn't enforce a specific license.
* `valid-values-license` checks the value set in the `license` field against the list of approved licenses set in the config. The WordPress team have `'valid-values-license': [ 'error', [ 'GPL-2.0-or-later' ] ],` con

[2020-04-12 03:18] #159 closed

[2020-04-12 03:32] #160 closed

[2020-04-13 10:18] almeynman commented on #227
Hey @tclindner, The priorities have shifted a bit and I am not sure when I will be able to tackle this feature. I have added it to the backlog, but will not be able to work on it this week for sure. So feel free to implement it, I will be able to test and give feedback

[2020-04-26 23:47] #227 closed

[2020-04-27 00:00] tclindner commented on #227
Hey @almeynman `v5.1.0` is now available! Here's a link to the docs. Hopefully it works well for you.

https://npmpackagejsonlint.org/docs/en/rules/scripts/prefer-scripts

[2020-04-27 10:09] almeynman commented on #227
@tclindner Thank you, works as expected

[2020-05-18 09:50] Raynos commented on #220
:+1: I would also be interested in rules for git dependencies.

Having a rule that mirrors the following rules

 - https://npmpackagejsonlint.org/docs/en/rules/dependencies/prefer-absolute-version-dependencies
 - https://npmpackagejsonlint.org/docs/en/rules/dependencies/prefer-absolute-version-devdependencies

An "absolute-version" with git would be something like

 - `github:Raynos/error#v1.0.0`

[2020-06-14 14:52] mightyiam opened #289 "Rule that validates `exports` field"
I have made a mistake specifying values of the `exports` field. I have used absolute paths. That doesn't seem to be valid. Would a rule regarding validity of the `exports` field be welcome?

[2020-06-14 17:30] tclindner commented on #289
Most certainly!

[2020-06-14 17:33] tclindner commented on #220
Hey @Raynos your proposal looks really good! Would you be interested in contributing a PR with the changes?

[2020-06-14 22:29] Raynos commented on #220
I don’t use this package at the moment.

[2020-06-15 03:00] mightyiam commented on #289
Yes, please. Any special advice for this rule?

[2020-06-26 12:53] dietergeerts opened #302 "Unable to work with sibling packages"
When reporting a bug, please include:

  * A little info about your environment
    * npm-package-json-lint version: 5
    * npm version: 6.14.5
    * node version: 12.18

  * The output from npm-package-json-lint
[code]

  * What you expected to happen
That a relative path going upwards works, as I have a mono-repo with rush, where all packages are siblings. I have packages that do linting and te

[2020-06-26 13:28] dietergeerts commented on #302
As a workaround, I updated my script to:

[code]

But as you see, then you need to do "tricks", and your IDE will not help you anymore.

[2020-07-09 00:29] lautarodragan opened #308 "Root package.json in monorepo not checked?"
I'm running `npm-package-json-lint`, version `5.1.0` in a monorepo that has a root `package.json` and then several projects under a `packages` directory, each with their own package.json file.

I added a `"lint-package-json": "npmPkgJsonLint ."` script to the root package.json and ran `yarn lint-package-json` from the root, but it's only reporting issues with the children package.json files, ignor

[2020-08-12 19:24] webberwang opened #323 "ESLint plugin/rule"
Is there a possibility to make this package an ESLint plugin or rule?

[2020-08-31 12:30] tclindner commented on #323
Hey @webberwang I don't think so unfortunately. Eslint doesn't support AST for JSON. Do you have any ideas for that?

[2020-09-25 10:16] kenrick95 opened #342 "Issue with symlinked dependencies in node_modules"
When reporting a bug, please include:

  * A little info about your environment
    * npm-package-json-lint version: 5.1.0
    * npm version: 6.14.5
    * node version: 12.16.2
  * The output from npm-package-json-lint: nothing
  * What you expected to happen: it runs well
  * The steps to reproduce the problem: read on

When I am in a monorepo managed by lerna ([in "independent" mode](https://git

[2021-02-17 05:47] scinos commented on #323
https://github.com/leo-buneev/eslint-plugin-md solves this by having its own parser (https://www.npmjs.com/package/markdown-eslint-parser) that generates an "empty" AST to fool eslint, but adds an extra property with the content of the Markdown file.

Then they have a rule (https://github.com/leo-buneev/eslint-plugin-md/blob/master/lib/rules/remark.js#L82), that reads that content from the "fake"

[2021-05-12 11:34] einSelbst commented on #323
I don't know anything about it but I had read something about eslint & AST and how to extend it in the [typescript-eslint repo](https://github.com/typescript-eslint/typescript-eslint#why-does-this-project-exist)

[2021-05-14 00:26] bakkot opened #436 "suggestion: disable require-publishConfig for `private: "true"` packages"
Since [the `private` setting](https://docs.npmjs.com/cli/v7/configuring-npm/package-json#private) prevents `npm` from attempting to publish a package, there's no need for `publishConfig` to be configured for those packages.

[2021-05-14 00:26] bakkot opened #437 "require-publishConfig: specify fields/values"
The main way I have seen `publishConfig` used is specify a registry for internal packages. So it would be nice if the rule (or a variant) could enforce that a specific registry is configured, rather than just that `publishConfig` is present.

[2021-07-23 04:18] #342 closed

[2021-10-08 23:42] bakkot commented on #437
Huh, so it can. Thanks!

[2021-10-08 23:42] #437 closed

[2021-10-16 11:10] mfranzke opened #503 "CLI: Error on the console when running the example config"
When installing the actual version and taking the example configuration from either https://npmpackagejsonlint.org/docs/en/rcfile-example or https://npmpackagejsonlint.org/docs/en/configuration and running `npmPkgJsonLint .` via CLI then, you'll retrieve the following warning on the console:
`Rule, no-restricted-invalid-devDependencies, is invalid. Please ensure it matches a valid option.`

On inv

[2021-10-16 14:01] tclindner commented on #503
Thank you for catching this mistake and opening a PR to fix it! 🙌

[2021-11-11 10:43] dietergeerts commented on #108
Would it not be a possibility to have a JSON Schema provided that can be checked? Because then we can provide all our custom rules through that JSON Schema. Off course, error messages may be a bit more difficult to understand then, but at least, then we can define any custom rule we want. It is JSON after all.

[2021-11-11 12:24] dietergeerts opened #513 "Overrides broken when using CLI"
Overrides are not being applied when using this through the CLI:

[code]

This should run the tool on all our packages. When I debug, I can see that when applying the overrides, the file to apply it to is the config. When further debugging, I can see that the code is functionally broken:

[code]
1. From CLI, `this.config` is indeed never provided.
2. `this.configFile` is provided, as I want a sing

[2021-11-11 12:57] dietergeerts commented on #513
When further debugging, I saw that there is no cwd passed to globby, meaning that overrides patterns aren't correctly matched if a custom cwd is being passed through the API.

[2021-11-11 15:18] dietergeerts commented on #436
There are other things that aren't needed, like a "files" field for example, because that is only used to pack and publish a package, but when it's private, it can't be. So it would be great if we can apply rules based on the fact if it's a private or "public" package.

[2021-11-13 22:25] tclindner commented on #436
Hey @bakkot and @dietergeerts what rules do you think we should do this far?

[2021-11-13 22:27] tclindner commented on #513
Hey @dietergeerts thank you for identifying this issue and for digging in to the cause. I'll release a fix passing `cwd` to `globby`. Let me know if that doesn't fix the issue.

[2021-11-13 22:27] #513 closed

[2021-11-13 22:57] bakkot commented on #436
I actually disagree with the [above comment](https://github.com/tclindner/npm-package-json-lint/issues/436#issuecomment-966386970) - you can still `npm pack` a `private` package, so `files` is still a reasonable thing to include. `private` only prevents _publishing_, so the only rules it should disable are the ones which are only involved in publishing - i.e., `require-publishconfig` and `valid-va

[2021-11-14 00:33] tclindner commented on #436
@dietergeerts are you comfortable with that?

[2021-11-14 14:37] dietergeerts commented on #436
Well, I have several issues with this linter, let me explain further. We have a requirement to lint our package files, because there are certain things that are easily forgotten, for example, making sure only source files, and thus no dev files like tests, are included when publishing a package. Therefore, I needed to constraint the files field to certain values only AND make sure that the value t

[2021-12-21 20:39] aarongoldenthal opened #536 "Update name-format to cover all cases"
While the current `name-format` rule covers some of the name constraints, there are cases that are not currently covered, for example:

- Cannot include non-URL safe characters (including spaces)
- Scoped packages are allowed to start with . or _
- Others listed [here](https://docs.npmjs.com/cli/v8/configuring-npm/package-json#name) and [here](https://github.com/npm/validate-npm-package-name#namin

[2022-01-24 11:24] GenrikhFetischev commented on #129
I  join to that suggestion. I use git flow approach and  gitversion for versioning my packages and have the following model:
- the main branch, just SemVer like 1.2.3
- a release branch has "beta" suffix, like 1.2.3-beta.12
- the develop branch has "alpha" suffix like 1.2.3-alpha.12
- also, I can publish my packages from feature branches (like feature/AAA-123) during development, and those package

[2022-01-26 16:14] dzearing commented on #289
I have some advice to validate for this:

* For each file path, validate the file exists
* For each path that has an "import" conditional, validate the source is ESM and not commonjs.
* For each path that has a "require" conditional, validate the source is commonjs and not esm.
* For each path that has neither "import" or "require", validate that .js files match the module type specified in `type`

[2022-02-04 09:54] dangreen opened #554 "overrides doesn't work with --configFile option"
config:
[code]

Works well:
[code]

Doesn't work:
[code]

[code]

[2022-03-05 21:43] #46 closed

[2022-03-08 14:12] xboy2012 opened #593 "Types missing after upgrading from v5 to v6"
I found that after upgrading  from v5 to v6

the `index.d.ts` is deleted, the types are not exposed any more, which is also necessary when using the nodejs API.

Please add the missing types back.

https://github.com/tclindner/npm-package-json-lint/blob/9a0ef3f01960760922a5341f386c594a97c4d3e0/index.d.ts

[2022-03-09 03:05] tclindner commented on #593
Hey @xboy2012 where you referencing this file directly? All types should be in the `dist` directory now. The package.json file has a types reference that points to the public api. Will this new approach work for you?

[2022-03-09 03:12] xboy2012 commented on #593
These types are not exposed any more, which are necessary.

[code]

I believe these types are refactored into other places, but not exposed as before.

Currently in package.json `"types": "dist/src/api.d.ts",` indicate that only type `NpmPackageJsonLint` is exposed.

[2022-03-10 04:06] tclindner commented on #593
Oops, sorry about that. I was thinking they were exported publicly. Let me know if you have any issues after 6.0.1 is released! Thanks @xboy2012

[2022-03-10 04:07] #593 closed

[2022-03-10 09:37] jschyz opened #596 "#595 release v6.0.2, please !"
#595 release v6.0.2, please !

I need to use `LintIssue` API to implement some custom Rules。

[code]

The `ruleIdPath Module` lacks the LintIssue API

[2022-03-11 01:21] jschyz commented on #596
![image](https://user-images.githubusercontent.com/3281438/157783364-84da51df-1327-45bd-8e62-71f3eea4d670.png)

`npm-package-json-lint.d.ts ` No type declaration

[2022-03-11 01:29] tclindner commented on #596
Hey @jschyz thanks for calling this out. This was never a documented feature and was a private api. I will work tomorrow to try and get this exposed again. Sorry about that. I didn't realize you were using it like this! It is always fun to see what others are doing!

[2022-03-11 01:35] jschyz commented on #596
I want to customize the extension rules，For example:

[code]

I want to check if the project has lint-staged, simply-Git-hooks attributes；to correct my team for proper execution；

so，want to add custom Rules

[2022-03-11 01:38] jschyz commented on #596
![image](https://user-images.githubusercontent.com/3281438/157785215-e18734e9-e275-493c-9db1-b5963f4bba36.png)

I found it in the `api.d.ts` file

[2022-03-13 02:36] #596 closed

[2022-03-13 02:38] tclindner commented on #596
Hey @jschyz please let me know if v6.0.2 works for you!

[2022-03-13 04:47] tclindner commented on #554
Thank you for reporting this, @dangreen. I think I found the culprit. Let me know if v6.0.3 works for you!

[2022-03-13 04:47] #554 closed

[2022-03-19 22:03] pohnemus opened #610 "[Enhancement Request] Improve messaging for `no-restricted-dependencies`"
Hi - it would be wonderful if we could add more information to the error message for the `no-restricted-dependencies` rule. Right now it says "✖ no-restricted-dependencies - node: dependencies - You are using a restricted dependency. Please remove it." However on our team we use this to restrict many dependencies so users are struggling a bit knowing which dependency is the issue. What do you thin

[2022-03-20 02:43] tclindner commented on #610
Definitely! 🎉

[2022-03-20 21:05] #610 closed

[2022-04-19 00:02] mohanraj-r opened #655 "feat: add rule to disallow different versions of the same dependency in a mono-repo"
Different versions of dependencies (esp prod dependencies) in a mono-repo are problematic. It would be great to add a rule to check that only one version of a dependency is used across all packages in the mono-repo. If you are willing to accept a PR for this, I can try to create one with some guidance.

[2022-04-19 00:08] mohanraj-r opened #656 "feat: add scope for dependency rules"
Instead of having the same check expressed with different names for the different scopes (prod, dev etc), it would be good to have a rule specify scope(s).

e.g.
[code]

[2022-06-08 14:11] fabiendem opened #700 "Website https://npmpackagejsonlint.org/ is down"
Hi,

Thanks a lot for this package.
The website is great to consume the documentation, but sadly it looks like the website is down: https://npmpackagejsonlint.org/

Any chance you could bring it back online?

Cheers!

[2022-06-09 03:39] tclindner commented on #700
Hey @fabiendem I just checked and it is working for me. Would you mind trying again? If it still isn't working for you, would you mind describing your setup? For example, are you using a VPN, a corporate network, etc.

[2022-06-09 10:30] fabiendem commented on #700
Damn, sorry I should have checked this.
It's the VPN on my machine which blocks it. I will ask my company to add it to the allowlist.

[2022-06-09 15:42] tclindner commented on #700
Awesome! Thank you for confirming. Good luck with the request.

[2022-06-09 15:51] fabiendem commented on #700
All good now 🙌

[2022-06-21 03:45] ilyub opened #718 "feature request: "valid-values-scripts" rule"
Is it possible to add a rule to validate values of each script entry?

[2022-07-07 09:11] AlekhyaYalla opened #734 "Rules link is broken"
I've tried looking at rules, I could see the link is broken.
<img width="1261" alt="image" src="https://user-images.githubusercontent.com/37897915/177737453-28d15a7f-7582-4a33-b7d7-3aaa0139b9ff.png">

[2022-07-10 18:47] tclindner commented on #718
Hey @ilyub definitely. What do you have in mind?

[2022-07-10 18:48] tclindner commented on #734
Hey @AlekhyaYalla can you please describe how you are navigating the site when you hit this 404 page? I see this -

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/5178550/178158003-30b4a183-e01f-4b7c-bdc4-573f86aa1935.png">

I've also tried viewing specific rules.

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/5178550/178158025-700f9c30-

[2022-07-13 21:33] haysclark opened #740 "Feature request: new `no-main` Rule"
When reporting a bug, please include:

It would be handy for projects that are not libraries to enforce that `main` is not set in package manager.

## Use case
When using GatsbyJS, if the projects 'package.json' includes `main` then it will throw a Compilation error.

*package.json snippet*
[code]

*GatsbyJS CLI output*
[code]

[2022-10-26 09:08] henricazottes opened #855 "Feature request: add whitelist for dependency rules"
Hi,

First of all thanks for the work, it's a very useful package :) I however ran into a kinda specific problem.

Context: I'm using `the no-restricted-dependencies` rule with the following configuration :
[code]
 Problem: I would like to use the package `ts-predicate` (which can't be used as dev dependency because it's needed at runtime). And of course I get a lint error because the name matches